body {
    font-family: cursive;
    font-size: 18px;
}
header, footer {
    background-color: rgb(214, 220, 199);
    padding: 10px;
    text-align: center;
}
/* Class selector: change the color of the main heading */
.site-title {
    color:rgb(63, 155, 111)
}
/* ID selector:Add a box-shadow to the image*/
#my-image {
    box-shadow:0px 0px 2px 1px rgb(87, 2, 80);
display: block;
margin: 10px auto;
}
/* Navigation stylind*/
nav ul{
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 10px;
}
nav a{
    text-decoration: none;
    background-color: #275a0dc8;
    border: 1px solid #20750f;
    padding:  5px 10px;
    border-radius: 5px;
    color: rgb(100, 33, 33);
    
}
nav a :hover, nav a :focus {
    background-color: rgb(166, 133, 92);
}
/* hobbies list styling */
ul{
    list-style-type: square;
}
ul li:nth-child(odd){
    background-color: rgb(197, 234, 173);
    padding: 5px;

}


